CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

\.idea/encodings\.xml

\.idea/LineFollowProject\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

*.xml
